<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>WebCtp Demo</title>
  <link rel="stylesheet" href="purecss@3.0.0_build_pure.css">
  <style>
      body {
          margin: 0;
          padding: 0;
          min-height: 100vh;
          display: flex;
          flex-direction: column;
      }

      .content-upper {
          flex: 1;
          background-color: lightblue;
          display: flex;
          justify-content: center;
          align-items: center;
          /*height: 50vh; !* 设置为视口高度的一半，可根据实际需求调整 *!*/
          flex-direction: column;
          /*overflow-y: auto;*/
          /*position: relative;*/
          overflow-y: auto;
          max-height: 40%;
      }

      .button-secondary {
          background: rgb(66, 184, 221); /* this is a light blue */
      }

      .button-error {
          background: rgb(202, 60, 60); /* this is a maroon */
      }

      .button-warning {
          background: rgb(223, 117, 20); /* this is an orange */
      }

      .button-success {
          background: rgb(28, 184, 65); /* this is a green */
      }

      .button-small {
          font-size: 85%;
      }

      /*.content-upper {*/
      /*    position: absolute;*/
      /*    overflow-y: auto;*/
      /*    max-height: 40%;*/
      /*}*/

      #futures-table {
          position: fixed;
          top: 0;
          border-collapse: collapse;
          width: 100%;

          /*height: 100%;*/
      }

      table, th, td {
          border: 1px solid black;

      }

      .selected {
          background-color: lightgray;
          color: black;
      }

      th, td {
          padding: 8px;
          text-align: center;
      }

      .content-lower {
          flex: 1;
          display: flex;
          /*height: 50vh; !* 设置为视口高度的一半，可根据实际需求调整 *!*/
      }

      .content-lower-left {
          flex: 1 1 70%;
          background-color: lightyellow;
          padding: 10px;
          display: flex;
          flex-direction: column;
      }

      .pure-tab {
          margin-top: 10px;
      }

      .pure-tab-content {
          border: 1px solid #ccc;
          padding: 10px;
          background-color: white;
          display: none;

          /* 添加以下样式确保tab页内容不影响布局 */
          position: absolute;
          overflow: auto;
          max-height: 45%;
          width: 65%;

          /* 新增样式，设置为透明且不占据空间（只在隐藏时生效） */
          visibility: hidden;
          opacity: 0;
          z-index: 1;
      }

      .pure-tab-content.active {
          /* 当tab页处于激活状态时，恢复正常显示和交互 */
          visibility: visible;
          opacity: 1;
          z-index: 2;
      }

      .pure-tab-content table {
          width: 100%;
          position: sticky;
          top: 0;
          background-color: white;
      }

      .content-lower-right {
          flex: 1 1 30%;
          background-color: #d2d5e0;
          padding: 10px;
      }

      footer {
          background-color: gray;
          color: white;
          text-align: center;
          padding: 10px;
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
      }
  </style>
</head>

<body>
<div id="md" class="content-upper">
  <!--  <div class="md-content">-->
  <table id="futures-table" class="pure-table pure-table-bordered" v-scope>
    <thead>
    <tr>
      <th>合约代码</th>
      <th>最新价</th>
      <th>今开盘</th>
      <th>最高价</th>
      <th>最低价</th>
      <th>昨收盘</th>
      <th>昨结算价</th>
      <th>昨持仓量</th>
      <th>数量</th>
      <th>持仓量</th>
      <th>成交金额</th>
      <th>今收盘</th>
      <th>今结算价</th>
      <th>交易日</th>
      <th>时间</th>
      <th>交易所</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(row, rowIndex) in mdData.quotRows" :key="rowIndex" onclick="quotSelect(this)">
      <td>{{ row.InstrumentID }}</td>
      <td>{{ row.LastPrice }}</td>
      <td>{{ row.OpenPrice }}</td>
      <td>{{ row.HighestPrice }}</td>
      <td>{{ row.LowestPrice }}</td>
      <td>{{ row.PreClosePrice }}</td>
      <td>{{ row.PreSettlementPrice }}</td>
      <td>{{ row.PreOpenInterest }}</td>
      <td>{{ row.volume }}</td>
      <td>{{ row.OpenInterest }}</td>
      <td>{{ row.Turnover }}</td>
      <td>{{ row.ClosePrice }}</td>
      <td>{{ row.SettlementPrice }}</td>
      <td>{{ row.TradingDay }}</td>
      <td>{{ row.UpdateTime }}</td>
      <td>{{ row.ExchangeID }}</td>
      <td>
        <button style="font-size: 60%" class="pure-button button-warning" onclick="unsub(this)">退订</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!--</div>-->
<div id="td" class="content-lower">

  <div class="content-lower-left">
    <div id="tabOrder" class="pure-tab-content">
      <table id="order-table" class="pure-table pure-table-bordered" v-scope>
        <thead>
        <tr>
          <th>合约</th>
          <th>买卖</th>
          <th>开平</th>
          <th>手数</th>
          <th>报单价格</th>
          <th>报单状态</th>
          <th>报单编号</th>
          <th>报单日期</th>
          <th>报单时间</th>
          <th>交易所</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(row, rowIndex) in tdData.orderRows" :key="rowIndex" onclick="orderSelect(this)">
          <td>{{ row.InstrumentID }}</td>
          <td>{{ row.bs }}</td>
          <td>{{ row.oc}}</td>
          <td>{{ row.VolumeTotalOriginal }}</td>
          <td>{{ row.LimitPrice }}</td>
          <td>{{ row.StatusMsg }}</td>
          <td>{{ row.OrderSysID }}</td>
          <td>{{ row.InsertDate }}</td>
          <td>{{ row.InsertTime }}</td>
          <td>{{ row.ExchangeID }}</td>
          <td>
            <button v-if="row.StatusMsg === '未成交'" style="font-size: 60%" class="pure-button button-secondary"
                    onclick="cancelOrder(this);">撤单
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div id="tabTrade" class="pure-tab-content">
      <table id="trade-table" class="pure-table pure-table-bordered" v-scope>
        <thead>
        <tr>
          <th>合约</th>
          <th>买卖</th>
          <th>开平</th>
          <th>手数</th>
          <th>成交价格</th>
          <th>成交编号</th>
          <th>报单编号</th>
          <th>成交日期</th>
          <th>成交时间</th>
          <th>交易所</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(row, rowIndex) in tdData.tradeRows" :key="rowIndex" onclick="tradeSelect(this)">
          <td>{{ row.InstrumentID }}</td>
          <td>{{ row.bs }}</td>
          <td>{{ row.oc }}</td>
          <td>{{ row.Volume }}</td>
          <td>{{ row.Price }}</td>
          <td>{{ row.TradeID }}</td>
          <td>{{ row.OrderSysID }}</td>
          <td>{{ row.TradeDate }}</td>
          <td>{{ row.TradeTime }}</td>
          <td>{{ row.ExchangeID }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div id="tabPosi" class="pure-tab-content">
      <table id="posi-table" class="pure-table pure-table-bordered" v-scope>
        <thead>
        <tr>
          <th>合约</th>
          <th>多/空</th>
          <th>今日持仓</th>
          <th>上日持仓</th>
          <th>平仓量</th>
          <th>多头冻结</th>
          <th>空头冻结</th>
          <th>交易日</th>
          <th>交易所</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(row, rowIndex) in tdData.positionRows" :key="rowIndex" onclick="posiSelect(this)">
          <td>{{ row.InstrumentID }}</td>
          <td>{{ row.sl }}</td>
          <td>{{ row.Position }}</td>
          <td>{{ row.YdPosition }}</td>
          <td>{{ row.CloseVolume }}</td>
          <td>{{ row.LongFrozen }}</td>
          <td>{{ row.ShortFrozen }}</td>
          <td>{{ row.TradingDay }}</td>
          <td>{{ row.ExchangeID }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div id="tabInst" class="pure-tab-content">
      <table id="instr-table" class="pure-table pure-table-bordered" v-scope>
        <thead>
        <tr>
          <th>合约ID</th>
          <th>合约名称</th>
          <th>交易所</th>
          <th>交易所</th>
          <th>合约乘数</th>
          <th>产品类型</th>
          <th>产品ID</th>
          <th>最小变动价位</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(row, rowIndex) in tdData.instrumentRows" :key="rowIndex" onclick="instrSelect(this)">
          <td>{{ row.InstrumentID }}</td>
          <td>{{ row.InstrumentName }}</td>
          <td>{{ row.ExchangeID }}</td>
          <td>{{ row.ExchangeName }}</td>
          <td>{{ row.VolumeMultiple }}</td>
          <td>{{ row.ProductClass }}</td>
          <td>{{ row.ProductID }}</td>
          <td>{{ row.PriceTick }}</td>
          <td>
            <button style="font-size: 60%" class="pure-button button-success" onclick="sub(this);">订阅</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- 添加一个用于撑开空间的空div，使其按钮位于最底部 -->
    <div style="flex-grow: 1;"></div>
    <!--    </div>-->
    <!--    <div id="pure-content">-->
    <div class="pure-tab">
      <button class="button-small pure-button pure-tab-button" onclick="openTab(event, 'tabOrder')" id="defaultOpen">
        委托单
      </button>
      <button class="button-small pure-button pure-tab-button" onclick="openTab(event, 'tabTrade')">成交记录</button>
      <button class="button-small pure-button pure-tab-button" onclick="openTab(event, 'tabPosi')">持仓</button>
      <button class="button-small pure-button pure-tab-button" onclick="openTab(event, 'tabInst')">合约</button>
    </div>

  </div>
  <div class="content-lower-right">
    <div class="content-lower-right">
      <form class="pure-form pure-form-aligned" v-scope>
        <fieldset>
          <legend>报价板</legend>
          <div class="pure-control-group">
            <label for="exchange">交易所</label>
            <input type="text" id="exchange" v-model="tdData.curInstrument.ExchangeID" value="" readonly>
          </div>

          <div class="pure-control-group">
            <label for="contract-input">合约</label>
            <input type="text" id="contract-input" class="contract-input" placeholder="请输入合约"
                   v-model="tdData.curInstrument['InstrumentID']" readonly>
          </div>
          <div class="pure-control-group">
            <label for="contract-price">价格</label>
            <input type="number" id="contract-price" class="price-display" placeholder="请输入价格">
          </div>
          <div class="pure-control-group">
            <label for="contract-volume">数量</label>
            <input type="number" id="contract-volume" class="price-display" placeholder="请输入数量" value="1">
          </div>

          <div class="pure-control-group">
            <label for="contract-input"></label>
            <button type="button" id="buy-open-button" class="pure-u-1-5 pure-button button-small" onclick="buyOpen()">
              买开
            </button>
            <button type="button" id="buy-close-button" class="pure-u-1-5 pure-button button-small"
                    onclick="buyClose()">买平
            </button>
          </div>
          <div class="pure-control-group">
            <label for="contract-input"></label>
            <button type="button" id="sell-open-button" class="pure-u-1-5 pure-button button-small"
                    onclick="sellOpen()">卖开
            </button>
            <button type="button" id="sell-close-button" class="pure-u-1-5 pure-button button-small"
                    onclick="sellClose()">卖平
            </button>
          </div>

        </fieldset>

      </form>
      <div v-scope>
        <!--        <p v-if="tdData.initOver"> 初始化完成 </p>-->
        <!--        <p v-else="tdData.initOver"> 初始化进行中 </p>-->
        <!--        <input type="checkbox" v-model="tdData.initOver">-->
        <p> {{ tdData.initOver ? "完成" : "进行中" }} </p>
      </div>

    </div>
  </div>
</div>
<!--<footer>-->
<!--  这是固定页脚，显示一些版权信息、联系方式等。-->
<!--</footer>-->

<script src='petite-vue@0.4.1_dist_petite-vue.iife.js'></script>
<script>
  function log(msg) {
    console.log((new Date()).toLocaleString(), ...Array.from(arguments));
  }

  const mdData = PetiteVue.reactive({
    quotRows: [],
    isLogin: false,
  })
  const mdApp = PetiteVue.createApp({
    mdData,
  }).mount('#md');

  const tdData = PetiteVue.reactive({
    orders: {},
    orderRows: [],
    trades: {},
    tradeRows: [],
    positions: {},
    positionRows: [],
    instruments: {},
    instrumentRows: [],
    exchanges: {},
    tradingAccount: {},
    isLogin: false,
    curInstrument: {'InstrumentID': '', 'ExchangeID': ''},
    initOver: false,
    subInstruments: [],
  })
  const tdApp = PetiteVue.createApp({
    tdData
  }).mount('#td');


  const mdAddr = 'ws://localhost:8080/md/';
  const tdAddr = 'ws://localhost:8080/td/';
  const brokerID = '9999';
  const investorID = '226485';

  // market channel
  const sock_md = new WebSocket(mdAddr);
  sock_md.onopen = function (event) {
    log('Market channel connected.', mdAddr);
    loginMd();
  };
  sock_md.onclose = function (event) {
    log('Market channel closed.');
    mdData.isLogin = false;
    alert('行情通道关闭！');
  };
  sock_md.onerror = function (event) {
    log('Market channel error:', event);
    mdData.isLogin = false;
    alert('行情通道错误！');
  };
  sock_md.onmessage = function (event) {
    let data = JSON.parse(event.data)
    // log('Market msg:', data['MsgType']);
    // console.log(data);
    switch (data['MsgType']) {
      case 'RspUserLogin':
        mdRspUserLogin(data)
        break;
      case 'RspSubMarketData':
        RspSubMarketData(data);
        break;
      case 'RspUnSubMarketData':
        RspUnSubscribeMarketData(data);
        break;
      case 'RtnDepthMarketData':
        RtnDepthMarketData(data);
        break;
    }
  };

  function req_md(data) {
    if (data['MsgType'] !== 'ReqUserLogin' && mdData.isLogin === false) {
      alert('请先登录行情端！');
      return;
    }
    log('Market request:', data['MsgType']);
    // console.log(data);
    sock_md.send(JSON.stringify(data));
  }

  function parseRspInfo(name, RspInfo) {
    if (RspInfo !== null && RspInfo['ErrorID'] !== 0) {
      console.log(name, 'Fail', RspInfo['ErrorMsg']);
      return false;
    } else {
      // console.log(name, 'Success');
      return true;
    }
  }

  function loginMd() {
    req_md({"MsgType": "ReqUserLogin", "ReqUserLogin": {"UserID": "", "Password": ""}});
  }

  function mdRspUserLogin(data) {
    if (parseRspInfo('行情登录', data['RspInfo']) === true) {
      mdData.isLogin = true;
      SubscribeMarketData(['au2412', 'cu2412', 'c2501', 'l2501', 'p2501', 'v2501']);
    }
  }

  function SubscribeMarketData(instruments) {
    log('订阅行情 ' + instruments);
    req_md({"MsgType": "SubscribeMarketData", "InstrumentID": instruments})
  }

  function RspSubMarketData(data) {
    // console.log(data);
    if (parseRspInfo('行情订阅', data['RspInfo']) === true) {
      tdData.subInstruments.push(data['SpecificInstrument']['InstrumentID']);
    }
  }

  function UnSubscribeMarketData(instruments) {
    req_md({"MsgType": "UnSubscribeMarketData", "InstrumentID": instruments})
  }

  function RspUnSubscribeMarketData(data) {
    console.log(data);
    if (parseRspInfo('取消行情订阅', data['RspInfo']) === true) {
      let instrumentID = data['SpecificInstrument']['InstrumentID'];
      log('退订行情 ' + instrumentID);
      for (let i = 0; i < mdData.quotRows.length; i++) {
        if (mdData.quotRows[i]['InstrumentID'] === instrumentID) {
          mdData.quotRows.splice(i, 1);
          i--;
          break;
        }
      }
    }
  }

  function RtnDepthMarketData(data) {
    let quot = data['DepthMarketData']

    // 匹配交易所
    if (quot.InstrumentID in tdData.instruments) {
      quot.ExchangeID = tdData.instruments[quot.InstrumentID].ExchangeID;
    } else {
      quot.ExchangeID = '';
    }

    // 更新行情
    const index = mdData.quotRows.findIndex(row => row.InstrumentID === quot['InstrumentID']);
    if (index !== -1) {
      for (let key in mdData.quotRows[index]) {
        mdData.quotRows[index][key] = quot[key];
      }
    } else {
      mdData.quotRows.push(quot);
    }
  }

  // trade channel
  const sock_td = new WebSocket(tdAddr);
  sock_td.onopen = function (event) {
    log('trade channel connected.', tdAddr);
    loginTd(investorID, '');
  };
  sock_td.onclose = function (event) {
    log('trade channel closed.');
    tdData.isLogin = false;
    alert('交易通道关闭！');
  };
  sock_td.onerror = function (event) {
    log('trade channel error:', event);
    tdData.isLogin = false;
    alert('交易通道错误！');
  };
  sock_td.onmessage = function (event) {
    let data = JSON.parse(event.data)
    console.log('trade msg:', data['MsgType']);
    // console.log(data);
    switch (data['MsgType']) {
      case 'RspUserLogin':
        tdRspUserLogin(data)
        break;
      case 'RspQryTrade':
        RspQryTrade(data);
        break;
      case 'RspQryInvestorPosition':
        RspQryInvestorPosition(data);
        break;
      case 'RspQryTradingAccount':
        RspQryTradingAccount(data);
        break;
      case 'RspQryInstrument':
        RspQryInstrument(data);
        break;
      case 'RspQryOrder':
        RspQryOrder(data);
        break;
      case 'RspQryExchange':
        RspQryExchange(data);
        break;
      case 'RspOrderInsert':
        RspOrderInsert(data);
        break;
      case 'RspOrderAction':
        RspOrderAction(data);
        break;
      case 'RtnOrder':
        RtnOrder(data);
        break;
      case 'ErrRtnOrderAction':
        ErrRtnOrderAction(data);
        break;
      case 'RtnTrade':
        RtnTrade(data);
        break;
    }
  };

  function req_td(data) {
    if (data['MsgType'] !== 'ReqUserLogin' && tdData.isLogin === false) {
      alert('请先登录交易端！');
      return;
    }
    log('trade request:', data['MsgType']);
    // console.log(data);
    data['RequestID'] = 0;
    sock_td.send(JSON.stringify(data));
  }

  function loginTd(userid, password) {
    req_td({"MsgType": "ReqUserLogin", "ReqUserLogin": {"UserID": userid, "Password": password}});
  }

  // todo 参数有误时，返回 ReqUserLogin MsgType
  function tdRspUserLogin(data) {
    if (parseRspInfo('交易登录', data['RspInfo']) === true) {
      tdData.isLogin = true;
      // console.log(data)
      ReqQryTradingAccount();
    }
  }

  function ReqQryTradingAccount() {
    req_td({
      "MsgType": "ReqQryTradingAccount",
      "QryTradingAccount": {
        "BrokerID": brokerID,
        "InvestorID": investorID
      },
    });
  }

  function RspQryTradingAccount(data) {
    if (parseRspInfo('查询资金账户', data['RspInfo']) === true) {
      // console.log(data);
      tdData.tradingAccount = data['TradingAccount'];
      if (data['IsLast'] === true) {
        ReqQryExchange('');
      }
    }
  }

  function ReqQryExchange(exchangeID) {
    req_td({
      "MsgType": "ReqQryExchange",
      "QryExchange": {
        "ExchangeID": exchangeID
      },
    });
  }

  function RspQryExchange(data) {
    if (parseRspInfo('查询交易所', data['RspInfo']) === true) {
      // console.log(data);
      let exchange = data['Exchange'];
      if (exchange !== null) {
        tdData.exchanges[exchange['ExchangeID']] = exchange;
      }
      if (data['IsLast'] === true) {
        ReqQryOrder('');
      }
    }

  }

  async function ReqQryInstrument(exchangeID, productID, instrumentID) {
    await sleep(2000);
    req_td({
      "MsgType": "ReqQryInstrument",
      "QryInstrument": {
        "ExchangeID": exchangeID,
        "InstrumentID": instrumentID,
        "ProductID": productID
      },
    });
  }

  function RspQryInstrument(data) {
    if (parseRspInfo('查询合约', data['RspInfo']) === true) {
      // console.log(data);
      let instrument = data['Instrument'];
      if (instrument !== null) {
        // 过滤期货合约
        if (instrument['InstrumentID'] !== null && instrument['ProductClass'] === '1') {
          instrument.ExchangeName = tdData.exchanges[instrument.ExchangeID].ExchangeName;
          tdData.instruments[instrument.InstrumentID] = instrument;
          tdData.instrumentRows.push(instrument);
        }
      }
      if (data['IsLast'] === true) {
        // tdData.instrumentRows = Object.values(tdData.instruments);
        tdData.initOver = true;
      }
    } else {
      // test();
      // ReqQryInstrument('', '', '');
    }
  }

  function ReqQryOrder(instrumentID) {
    req_td({
      "MsgType": "ReqQryOrder",
      "QryOrder": {
        "InvestorID": investorID,
        "InstrumentID": instrumentID,
      },
    });
  }

  function orderStatus(status) {
    if (status === '0') {
      return '全部成交';
    } else if (status === '1') {
      return '部分成交';
    } else if (status === '3') {
      return '未成交';
    } else if (status === '5') {
      return '已撤单';
    }
  }

  function openClose(flag) {
    if (flag === '0') {
      return '开';
    } else if (flag === '1') {
      return '平';
    } else if (flag === '2') {
      return '强平';
    } else if (flag === '3') {
      return '平今';
    } else if (flag === '4') {
      return '平昨';
    }
  }

  function buySell(flag) {
    if (flag === '0') {
      return '买';
    } else if (flag === '1') {
      return '卖';
    }
  }

  function shortLong(flag) {
    if (flag === '1') {
      return '净';
    } else if (flag === '2') {
      return '多';
    } else if (flag === '3') {
      return '空';
    }
  }

  function RspQryOrder(data) {
    if (parseRspInfo('查询报单', data['RspInfo']) === true) {
      // console.log(data);
      let order = data['Order'];
      if (order !== null) {
        order.StatusMsg = orderStatus(order.OrderStatus);
        order.bs = buySell(order.Direction);
        order.oc = openClose(order.CombOffsetFlag);
        let key = orderKey(order);
        tdData.orders[key] = order;
      }
      if (data['IsLast'] === true) {
        // todo
        tdData.orderRows = Object.values(tdData.orders);
        ReqQryTrade('');
      }
    }
  }

  function ReqQryTrade(exchangeID) {
    req_td({
      "MsgType": "ReqQryTrade",
      "QryTrade": {
        "BrokerID": brokerID,
        "InvestorID": investorID,
        "ExchangeID": exchangeID
      },
    });
  }

  function RspQryTrade(data) {
    if (parseRspInfo('查询成交', data['RspInfo']) === true) {
      // console.log(data);
      let trade = data['Trade'];
      if (trade !== null) {
        trade.bs = buySell(trade.Direction);
        trade.oc = openClose(trade.OffsetFlag);
        let key = trade['ExchangeID'] + '.' + trade['TradeID'] + '.' + trade['OrderSysID'];
        tdData.trades[key] = trade;
      }

      if (data['IsLast'] === true) {
        // todo
        tdData.tradeRows = Object.values(tdData.trades);
        ReqQryInvestorPosition('', '');
      }
    }
  }

  function ReqQryInvestorPosition(investorID, exchangeID) {
    req_td({
      "MsgType": "ReqQryInvestorPosition",
      "QryInvestorPosition": {
        "BrokerID": "9999",
        "InvestorID": investorID,
        "ExchangeID": exchangeID
      },
    });

  }

  function RspQryInvestorPosition(data) {
    if (parseRspInfo('查询持仓', data['RspInfo']) === true) {
      // console.log(data);
      let position = data['InvestorPosition'];
      if (position !== null) {
        position.sl = shortLong(position.PosiDirection);
        tdData.positionRows.push(position);

        // 订阅持仓合约
        if (position.InstrumentID in tdData.subInstruments) {

        } else {
          SubscribeMarketData([position.InstrumentID]);
        }
      }
      if (data['IsLast'] === true) {
        // ReqQryInstrument('', '', '');
      }
    }
  }

  function ReqOrderInsert(exchangeID, instrumentID, price, volume, direction, combOffset) {
    // 限价单
    req_td({
      "MsgType": "ReqOrderInsert",
      "InputOrder": {
        "BrokerID": brokerID,
        "InvestorID": investorID,
        "ExchangeID": exchangeID,
        "InstrumentID": instrumentID,
        "LimitPrice": price,
        "OrderPriceType": "2",
        "Direction": direction,
        "CombOffsetFlag": combOffset,
        "CombHedgeFlag": "1",
        "VolumeTotalOriginal": volume,
        "TimeCondition": "3",
        "VolumeCondition": "1",
        "ContingentCondition": "1",
        "ForceCloseReason": "0",
        "IsAutoSuspend": 0,
        "IsSwapOrder": 0
      }
    });
  }

  function RspOrderInsert(data) {
    if (parseRspInfo('订单录入', data['RspInfo']) === true) {
      console.log(data);
    }
  }

  function ReqOrderAction(exchangeID, instrumentID, orderSysID) {
    req_td({
      "MsgType": "ReqOrderAction",
      "InputOrderAction": {
        "BrokerID": brokerID,
        "InvestorID": investorID,
        "UserID": investorID,
        "ExchangeID": exchangeID,
        "InstrumentID": instrumentID,
        "ActionFlag": "0",
        "OrderSysID": orderSysID
      }
    });
  }

  function RspOrderAction(data) {
    if (parseRspInfo('订单撤销', data['RspInfo']) === true) {
    }
  }

  function orderKey(order) {
    return order.InstrumentID + '.' + order.OrderSysID + '.' + order.OrderLocalID;
  }

  function RtnOrder(data) {
    console.log(data);
    let order = data['Order'];
    if (order === null) {
      return;
    }

    order.StatusMsg = orderStatus(order.OrderStatus);
    order.oc = openClose(order.CombOffsetFlag);
    order.bs = buySell(order.Direction);
    // 更新订单
    // 全部成交、部分成交、未成交、撤单
    if (order.OrderStatus === '0' || order.OrderStatus === '1' || order.OrderStatus === '3' || order.OrderStatus === '5') {
      let key1 = orderKey(order);
      tdData.orders[key1] = order;

      let exist = false;
      for (let i = 0; i < tdData.orderRows.length; i++) {
        let key2 = orderKey(tdData.orderRows[i]);
        if (key1 === key2) {
          exist = true;
          for (let key3 in tdData.orderRows[i]) {
            tdData.orderRows[i][key3] = order[key3];
          }
          break;
        }
      }
      // 新订单
      if (exist === false) {
        tdData.orderRows.push(order);
      }
    }
  }

  function ErrRtnOrderAction() {

  }

  function RtnTrade(data) {
    // console.log(data);
    let trade = data['Trade'];
    if (trade !== null) {
      trade.bs = buySell(trade.Direction);
      trade.oc = openClose(trade.OffsetFlag);
      let key = trade['ExchangeID'] + '.' + trade['TradeID'] + '.' + trade['OrderSysID'];
      tdData.trades[key] = trade;
      tdData.tradeRows.push(trade);
    }
  }

  // 定义打开tab页的函数
  function openTab(evt, tabName) {
    var i, pureTabContent, pureTabButton;

    // 隐藏所有tab内容，并设置为不影响布局的样式
    pureTabContent = document.getElementsByClassName("pure-tab-content");
    for (i = 0; i < pureTabContent.length; i++) {
      pureTabContent[i].style.display = "none";
      pureTabContent[i].style.visibility = "hidden";
      pureTabContent[i].style.opacity = "0";
    }

    // 移除所有tab按钮的激活状态
    pureTabButton = document.getElementsByClassName("pure-tab-button");
    for (i = 0; i < pureTabButton.length; i++) {
      pureTabButton[i].style.backgroundColor = "#f1f1f1";
      pureTabButton[i].classList.remove("active");
    }

    // 显示当前选中的tab内容并设置为正常显示和交互的样式
    document.getElementById(tabName).style.display = "block";
    document.getElementById(tabName).style.visibility = "visible";
    document.getElementById(tabName).style.opacity = "1";

    // 设置当前tab按钮为激活状态
    evt.currentTarget.style.backgroundColor = "#ccc";
    evt.currentTarget.classList.add("active");
  }

  // 打开默认tab页
  document.getElementById("defaultOpen").click();

  // 创建一个返回Promise的函数来模拟sleep
  const sleep = (ms) => {
    return new Promise((resolve) => {
      setTimeout(resolve, ms);
    });
  };


  function sub(button) {
    // 订阅行情
    let row = button.closest('tr');
    let firstColumnCell = row.querySelector('td:first-child');
    let firstColumnContent = firstColumnCell.textContent;
    SubscribeMarketData([firstColumnContent]);
  }

  function unsub(button) {
    // 退订行情
    let row = button.closest('tr');
    let firstColumnCell = row.querySelector('td:first-child');
    let firstColumnContent = firstColumnCell.textContent;
    UnSubscribeMarketData([firstColumnContent]);
  }

  function cancelOrder(button) {
    // 撤单
    let row = button.closest('tr');
    let instrumentID = row.querySelector('td:first-child').textContent;
    let orderSysID = row.querySelector('td:nth-child(7)').textContent;
    let exchangeID = row.querySelector('td:nth-child(10)').textContent;

    ReqOrderAction(exchangeID, instrumentID, orderSysID);
  }

  function quotSelect(row) {
    // 行情表点击
    let allRows = document.getElementById('futures-table').querySelectorAll('tr');
    allRows.forEach(function (otherRow) {
      otherRow.classList.remove('selected');
    });
    row.classList.add('selected');

    // 报价板设置当前合约
    let instrument = row.querySelector('td:first-child').textContent;
    for (let i = 0; i < mdData.quotRows.length; i++) {
      if (mdData.quotRows[i]['InstrumentID'] === instrument) {
        tdData.curInstrument = mdData.quotRows[i];
        document.getElementById('contract-price').value = tdData.curInstrument['LastPrice'];
        break;
      }
    }
  }

  function orderSelect(row) {
    // 订单表点击
    let allRows = document.getElementById('order-table').querySelectorAll('tr');
    allRows.forEach(function (otherRow) {
      otherRow.classList.remove('selected');
    });
    row.classList.add('selected');
  }

  function tradeSelect(row) {
    // 成交表点击
    let allRows = document.getElementById('trade-table').querySelectorAll('tr');
    allRows.forEach(function (otherRow) {
      otherRow.classList.remove('selected');
    });
    row.classList.add('selected');
  }

  function posiSelect(row) {
    // 持仓表点击
    let allRows = document.getElementById('posi-table').querySelectorAll('tr');
    allRows.forEach(function (otherRow) {
      otherRow.classList.remove('selected');
    });
    row.classList.add('selected');
  }

  function instrSelect(row) {
    // 合约表点击
    let allRows = document.getElementById('instr-table').querySelectorAll('tr');
    allRows.forEach(function (otherRow) {
      otherRow.classList.remove('selected');
    });
    row.classList.add('selected');
  }

  function buyOpen() {
    // 买开
    let exchangeID = document.getElementById('exchange').value;
    let instrumentID = document.getElementById('contract-input').value;
    let price = parseFloat(document.getElementById('contract-price').value);
    let volume = parseFloat(document.getElementById('contract-volume').value);
    ReqOrderInsert(exchangeID, instrumentID, price, volume, '0', '0');
  }

  function buyClose() {
    // 买平
    let exchangeID = document.getElementById('exchange').value;
    let instrumentID = document.getElementById('contract-input').value;
    let price = parseFloat(document.getElementById('contract-price').value);
    let volume = parseFloat(document.getElementById('contract-volume').value);
    ReqOrderInsert(exchangeID, instrumentID, price, volume, '0', '1');
  }

  function sellOpen() {
    // 卖开
    let exchangeID = document.getElementById('exchange').value;
    let instrumentID = document.getElementById('contract-input').value;
    let price = parseFloat(document.getElementById('contract-price').value);
    let volume = parseFloat(document.getElementById('contract-volume').value);
    ReqOrderInsert(exchangeID, instrumentID, price, volume, '1', '0');
  }

  function sellClose() {
    // 卖平
    let exchangeID = document.getElementById('exchange').value;
    let instrumentID = document.getElementById('contract-input').value;
    let price = parseFloat(document.getElementById('contract-price').value);
    let volume = parseFloat(document.getElementById('contract-volume').value);
    ReqOrderInsert(exchangeID, instrumentID, price, volume, '1', '1');
  }


</script>
</body>

</html>